@import '~swiper/src/swiper.scss';

.block-carousel {
  padding-left: calc-grid-width(2);
  padding-right: calc-grid-width(2);

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow {
    padding: 25px 10px;
  }

  &__pagination {
    padding: 10px;
    font-weight: bold;
  }
}
