$paragraph: (
  colors: (
    default: $base-black-color,
    primary: $base-primary-color,
  ),
  sizes: (
    mobile: (
      default: (
        font-size: 16,
        line-height: 1,
      ),
      medium: (
        font-size: 16px,
        line-height: 1,
      ),
      big: (
        font-size: 18px,
        line-height: 1,
      ),
    ),
    tablet: (
      default: (
        font-size: 16,
        line-height: 1,
      ),
      medium: (
        font-size: 18px,
        line-height: 1,
      ),
      big: (
        font-size: 22px,
        line-height: 1.1,
      ),
    ),
  )
);

.paragraph {
  @extend %paragraph-reset;

  &__color {
    @include modifiers-deep($paragraph, colors, color);
  }

  &__size {
    @include responsive-modifiers($paragraph, sizes);
  }

  &__align {
    @include text-align-modifiers;
  }
}
