$footer-navigation: (
  footer-nav-spacing: $base-gutter-size,
  footer-nav-text: $base-nobel-color,
  footer-nav-highlight-text: $base-primary-color,
);

.footer-navigation {
  @extend %list-reset;
  display: flex;
  align-items: center;

  &__item {
    padding-left: map-get($footer-navigation, 'footer-nav-spacing');
    padding-right: map-get($footer-navigation, 'footer-nav-spacing');

    &--menu-highlight {
      .footer-navigation__link {
        color: map-get($footer-navigation, 'footer-nav-highlight-text');
      }
    }
  }

  &__link {
    display: inline-block;
    color: map-get($footer-navigation, 'footer-nav-text');
    text-decoration: none;
    font-weight: 600;
  }
}
