.footer {
  padding-top: 36px;
  padding-bottom: 36px;

  &__container {
    margin: 0 auto;
    max-width: $base-container-size;
    // padding-left: $base-container-spacing;
    // padding-right: $base-container-spacing;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__logo-nav-wrap {
    display: flex;
    align-items: center;
  }

  &__logo-link {
    width: 70px;
  }

  &__tag-line {
    color: $base-nobel-color;
    font-weight: 600;
  }
}

@import './footer-navigation';
