$footer: (
  footer-vertial-spacing: 36px,
  footer-horizontal-spacing: $base-gutter-size,
);

.footer {
  padding-top: map-get($footer, 'footer-vertial-spacing');
  padding-bottom: map-get($footer, 'footer-vertial-spacing');

  &__container {
    margin: 0 auto;
    max-width: $base-container-size;
    padding-left: map-get($footer, 'footer-horizontal-spacing');
    padding-right: map-get($footer, 'footer-horizontal-spacing');
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__logo-nav-wrap {
    display: flex;
    align-items: center;
  }

  &__logo-link {
    display: inline-block;
    width: 85px;
    padding-right: map-get($footer, 'footer-horizontal-spacing');

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__tag-line {
    color: $base-nobel-color;
    font-weight: 600;
  }
}

@import './footer-navigation';
