.header-navigation {
  @extend %list-reset;
  display: flex;
  align-items: center;
  margin: 0 -$base-container-spacing;

  &__item {
    padding-left: $base-container-spacing;
    padding-right: $base-container-spacing;

    &--menu-highlight {
      .header-navigation__link {
        background-color: $base-primary-color;
        color: $base-white-color;
        padding: 14px 30px;
        border-radius: 500px;
      }
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 600;
  }
}
