.header {
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 2px 5px rgba($base-black-color, 0.2);

  &__container {
    margin: 0 auto;
    max-width: $base-container-size;
    padding-left: $base-container-spacing;
    padding-right: $base-container-spacing;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__logo-link {
    max-width: 101px;
  }
}

@import './header-navigation';
